.scrolly-intro .title, .hero .hero-content {
    z-index: 99;
}

.link {
    margin: 24px;
}

.title {
    font-size: 2rem;
    font-weight: lighter;
    margin-bottom: 1.5rem;
}
.subtitle {
    font-size: 1.5rem;
    font-weight: lighter;
}

.home-overlay {
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    background-color: var(--c-d);
    border-right: 1px solid black;
    /* box-shadow: 48px 0px 48px 0px var(--c-d); */
    transition: width 750ms var(--crv);
}

.home-overlay.full {
    width: 100%;
}
.home-overlay.half {
    width: 50%;
}
.home-overlay.none {
    width: 0%;
}

.hero {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: left;
}

.hero .title {
    font-size: 4em;
}

.scrolly-intro {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
}
.intro-texts {
    margin: 0 1vw 0 2vw;
    box-sizing: border-box;
}

.intro {
    height: auto;
    width: 100%;
}

.intro-section {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.intro-anim {
    height: 100%;
    width: 100%;
}

.intro-anim .follower {
    top: 0;
    height: 100vh;

    position: sticky;
    position: -webkit-sticky;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.circle-holder {
    position: absolute;
    width: 50%;
    min-height: 190px;
}

.circle {
    z-index: 20;
    position: absolute;

    height: 64px;
    width: 64px;

    border-radius: 100%;

    transform-origin: center center;
}

.map-container {
    margin: calc(var(--spa) / 2);
}

.intro-map {
    width: 540px;
    transform: translate(-13%, 14%)
}