.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;

    box-sizing: border-box;
}

.link {
    margin: 24px;
}

.hero {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}