.map-section {
    z-index: 0;

    top: var(--n-h);
    position: fixed;

    height: calc(100vh - var(--n-h));
    width: 100%;

    /* display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; */

    display: flex;
}

.mapContainer {
    /* position: absolute; */
    /* top: var(--n-h); */
    width: 50%;
    height: 100%;

    transform: translateX(100%);
    
    border: var(--border);
    box-sizing: border-box;
    
    transition: all var(--tra) var(--crv),
    transform var(--tra) var(--crv) 1s;
}

.map-section.active .mapContainer {
    width: 100%;
    transform: translateX(0%);
    transition: all var(--tra) var(--crv),
        transform var(--tra) var(--crv) 500ms;
}

.map-section.active canvas.mapboxgl-canvas {
    pointer-events: all;
}

canvas.mapboxgl-canvas {
    pointer-events: none;
}

.mapboxgl-popup {
    pointer-events: none;
}

.mapboxgl-popup-content {
    font-size: var(--fs-l);
    pointer-events: none;
    background-color: var(--c-d);
    color: var(--c-b);
    max-width: 256px;
    border-radius: 6px;
    border: var(--border);
    box-shadow: var(--sha);
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
    border-bottom-color: var(--c-d);
    box-shadow: var(--sha);
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: var(--c-d);
    box-shadow: var(--sha);
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    border-top-color: var(--c-d);
    box-shadow: var(--sha);
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: var(--c-d);
    box-shadow: var(--sha);
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
    display: none;
}

.popup-row {
    display: grid;
    grid-template-columns: 3fr 8fr;
    grid-gap: 6px;
    font-size: var(--fs-l);
}

.popup-row>span:nth-child(1) {
    font-size: var(--fs-s);
}


.chart-container {
    position: relative;
    width: 100%;
    min-height: 100px;
}

.chart-component {
    position: absolute;
    top: 50%;
}