.dashboard {
    pointer-events: none;
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.sidebar {
    z-index: 10;

    overflow-y: scroll;
    
    position: relative;
    left: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    padding: calc(var(--spa) / 2);

    width: 320px;
    height: calc(100% - var(--n-h) - var(--spa));

    color: var(--c-b);
    font-weight: 400;
}

.sidebar-component, .navigator {
    padding: calc(var(--spa) / 2);
    margin-bottom: calc(var(--spa) / 2);
    background-color: var(--c-d);
    box-shadow: var(--sha);
    border-radius: 6px;
    border: 1px solid var(--border);
}

.sidebar-component {
    pointer-events: none;
    
    transform: translateX(-100%);
    transition: transform var(--tra) var(--crv);
}
.sidebar-component.open {
    pointer-events: all;
    transform: translateX(0%);
    transition: transform var(--tra) var(--crv);
}
.sidebar-component:first-child {
    margin-bottom: calc(var(--spa) / 2);
}
.sidebar-component:nth-last-child(1) {
    margin-bottom: 0px;
}


.sidebar-component .title {
    padding-bottom: calc(var(--spa) / 8);
    margin-bottom: calc(var(--spa) / 4);
}
.sidebar-component .caption {
    font-size: var(--fs-s);
    font-weight: 500;
    text-transform: uppercase;
}


.sidebar-component .component-field {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 6px;
}
.component-field:nth-last-child(1) {
    margin-bottom: 0;
}

.component-field.parameter > span:nth-child(1) {
    font-size: var(--fs-s);
    text-transform: uppercase;
}

.component-field.grid.multi-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    font-weight: 500;
}



.mapContainer {
    position: absolute;
    width: 100%;
    height: 100%;
}

.mapboxgl-popup {
    pointer-events: none;
}
.mapboxgl-popup-content {
    font-size: var(--fs-l);
    pointer-events: none;
    background-color: var(--c-d);
    color: var(--c-b);
    max-width: 256px;
    border-radius: 6px;
    border: 1px solid #ffffff15;
    box-shadow: var(--sha);
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
    border-bottom-color: var(--c-d);
    box-shadow: var(--sha);
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: var(--c-d);
    box-shadow: var(--sha);
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    border-top-color: var(--c-d);
    box-shadow: var(--sha);
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: var(--c-d);
    box-shadow: var(--sha);
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
    display: none;
}

.popup-row {
    display: grid;
    grid-template-columns: 3fr 8fr;
    grid-gap: 6px;
    font-size: var(--fs-l);
}

.popup-row > span:nth-child(1) {
    font-size: var(--fs-s);
}


.chart-container {
    width: 100%;
    min-height: 100px;
}
.chart-component {
    position: absolute;
    top: 50%;
}
