.modal {
    z-index: 998;
    position: fixed;

    left: 0;
    right: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: none;
}

.modal.show {
    pointer-events: all;
}

.overlay {
    z-index: 998;
    position: absolute;

    left: 0;
    right: 0;

    width: 100%;
    height: 100%;

    background-color: var(--c-d);

    opacity: 0;
    transition: opacity var(--tra) var(--crv) 800ms;
}

.modal.show .overlay {
    opacity: 1;
    transition: opacity var(--tra) var(--crv) 0ms;
}

.reader {
    z-index: 999;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    /* max-width: 640px; max-height: 640px; */
    min-height: 320px;
    background-color: var(--c-d);

    transform: translateY(120%);
    transition: transform 750ms var(--crv) 250ms;
}

.modal.show .reader {
    transform: translateY(0%);
    transition: transform 750ms var(--crv) 350ms;
}

.reader-content-area {
    position: relative;
    overflow: scroll;
    max-width: 840px;
    height: calc(100% - var(--spa) * 2);
    margin: auto;
    padding: 0 var(--spa);
    padding-top: calc(var(--spa) * 2);
    line-height: 1.5;
}

.reader-story-intro {
    margin: 20vh 0;
}
.reader-story-intro>h1 {
    font-weight: lighter;
    font-size: 3.5em;
    line-height: 1.2;
}
.reader-story-intro > .intro-subtitle {
    font-size: 1.25em;
}

.reader-content {
    margin: 0 auto;
    margin-top: calc(var(--spa) * 1);

    font-size: 1.15em;
    line-height: 1.65;
    margin-bottom: 32px;
}



.story-section {
    margin-bottom: var(--spa);
}

.story-title {
    font-size: 1.5em;
    line-height: 1.25;
    margin: calc(var(--spa) / 2) 0;
}

.story-paragraph {
    max-width: 640px;
    margin: calc(var(--spa) / 1) auto;
}

.story-quote {
    font-family: "DIN Italic";
    font-size: 1.25em;
    line-height: 1.5;
    margin: 0;
}

.story-images {
    width: 100%;
    max-height: 50vh;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    overflow: hidden;

    margin: calc(var(--spa) * 2) 0;
}

.story-image-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    margin: 0 calc(var(--spa) / 4);
}

.story-image {
    max-width: 100%;
    max-height: 100%;
}



.reader-toolbar {
    z-index: 1000;
    padding: 0 calc(var(--spa) / 2);
    max-width: 840px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: calc(var(--n-h) / 1.5);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.reader-toolbar .close {
    cursor: pointer;

    width: 24px;
    height: 24px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotate(0deg);
    transition: transform var(--tra) var(--crv);
}

.reader-toolbar .close:hover {
    transform: rotate(90deg);
    transition: transform var(--tra) var(--crv);
}

.reader-toolbar .close .line {
    position: absolute;
    width: 24px;
    height: 2px;
    border-radius: 3px;
    background-color: var(--c-b);
    overflow: hidden;
}

.reader-toolbar .close .line:nth-child(1) {
    transform: rotate(45deg);
}

.reader-toolbar .close .line:nth-child(2) {
    transform: rotate(-45deg);
}