.dashboard {
    pointer-events: none;
    position: relative;
    height: 100%;
    width: 0px;
    transform: translateX(-100%);
    
    transition: all var(--tra) var(--crv);
}
.map-section.active .dashboard {
    width: 320px;
    transform: translateX(0%);

    transition: all var(--tra) var(--crv);
}

.sidebar-container {
    width: 0px;
    height: 100%;
    transition: all var(--tra) var(--crv);
}
.map-section.active .sidebar-container {
    width: 320px;
    transition: all var(--tra) var(--crv);
}

.sidebar {
    z-index: 0;
    pointer-events: none;

    z-index: 10;

    overflow-y: scroll;

    display: flex;
    flex-direction: column;

    position: absolute;

    height: 100%;
    width: 320px;

    color: var(--c-b);
    font-weight: 400;

    transform: translateX(-50%);
    opacity: 0;
    transition: all var(--tra) var(--crv);
}

.sidebar.open {
    z-index: 100;
    pointer-events: all;
    cursor: default;
    opacity: 1;
    transform: translateX(0%);
    transition: all var(--tra) var(--crv);
}

.sidebar-content {
    overflow-y: scroll;

    pointer-events: all;
    position: relative;
    padding: calc(var(--spa) / 2);

    background-color: var(--c-d);

    border-top: var(--border);
    border-bottom: var(--border);
}



.sidebar-sided {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: calc(var(--spa) / 2);
}

.sidebar-header-label {
    display: inline-block;
    font-size: 1.25em;
    font-weight: bolder;
    margin-bottom: calc(var(--spa) / 2);
}

.sidebar-section {
    margin-bottom: calc(var(--spa) / 1);
}

.sidebar-poldiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: calc(var(--spa) / 2);
}

.sidebar-section.event-data {
    position: relative;
}

.sidebar-sublevel-data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: calc(var(--spa) / 2);
    height: 6em;
}

.sidebar-sublevel-unit {
    position: relative;
    margin-bottom: calc(var(--spa) / 2);
}

.sidebar-value.numeric {
    font-size: 1.5em;
}

.sidebar-event.number-of {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: calc(var(--spa) / 2);
    align-items: baseline;
    margin-bottom: calc(var(--spa) / 2);
}

.sidebar-label {
    text-transform: uppercase;
    font-size: .75em;
    opacity: .5;
    margin-bottom: calc(var(--spa) / 6);
}

.nivo-container {
    border: var(--border);
    margin: calc(var(--spa) / 2) 0;
    color: initial;
    box-sizing: content-box;
}

.nivo-lines {
    border-right: none;
    border-left: none;
    border-bottom: none;
}

.nivo-container svg {
    transform: translateY(0px);
}