.dashboard {
    pointer-events: none;
    position: relative;
    height: 100%;
    width: 0px;
    transform: translateX(-100%);

    transition: all var(--tra) var(--crv);
}

.map-section.active .dashboard {
    width: 320px;
    transform: translateX(0%);
    transition: all var(--tra) var(--crv);
}

.sidebar-container {
    width: 0px;
    height: 100%;
    transition: all var(--tra) var(--crv);
}

.map-section.active .sidebar-container {
    width: 320px;
    transition: all var(--tra) var(--crv);
}

.sidebar {
    z-index: 0;
    pointer-events: none;

    z-index: 10;

    overflow-y: scroll;

    display: flex;
    flex-direction: column;

    position: absolute;

    height: 100%;
    width: 320px;

    color: var(--c-b);
    font-weight: 400;

    transform: translateX(-50%);
    opacity: 0;
    transition: all var(--tra) var(--crv);
}

.sidebar.open {
    z-index: 100;
    pointer-events: all;
    cursor: default;
    opacity: 1;
    transform: translateX(0%);
    transition: all var(--tra) var(--crv);
}

.sidebar-content {
    overflow-y: scroll;
    overflow-x: hidden;

    pointer-events: all;
    position: relative;
    padding: calc(var(--spa) / 2);

    background-color: var(--c-d);

    border-top: var(--border);
    border-bottom: var(--border);
}



.sidebar-sided {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: calc(var(--spa) / 2);
}

.sidebar-header-label {
    display: inline-block;
    font-size: 1.25em;
    font-weight: bolder;
    margin-bottom: calc(var(--spa) / 2);
}

.sidebar-section {
    margin-bottom: calc(var(--spa) / 1);
}

.sidebar-poldiv {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: calc(var(--spa) / 2);
}

.sidebar-section.event-data {
    position: relative;
}

.sidebar-sublevel-data {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: calc(var(--spa) / 2);
    height: auto;
}

.sidebar-sublevel-unit {
    position: relative;
    margin-bottom: calc(var(--spa) / 2);
}

.sidebar-value.numeric {
    font-size: 1.5em;
}

.sidebar-event.number-of {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: calc(var(--spa) / 2);
    align-items: baseline;
    margin-bottom: calc(var(--spa) / 2);
}

.sidebar-label {
    text-transform: uppercase;
    font-size: .75em;
    opacity: .5;
    margin-bottom: calc(var(--spa) / 6);
}

.nivo-container {
    border: var(--border);
    margin: calc(var(--spa) / 2) 0;
    color: initial;
    box-sizing: content-box;
}

.nivo-lines {
    border-right: none;
    border-left: none;
    border-bottom: none;
}

.nivo-container svg {
    transform: translateY(0px);
}

.sidebar-legend-container {
    width: 100%;
    display: flex;
    flex-direction: column;

    margin-bottom: calc(var(--spa) / 2);

    border-bottom: 1px solid var(--c-b);
}

.legend-title {
    margin-bottom: calc(var(--spa) / 2);
}

.legend-map {
    margin-bottom: calc(var(--spa) / 1.5);
}

.legend-map-rodes-labels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: .65em;
    opacity: .5;
    text-transform: uppercase;
}

.legend-map-rodes-chart {
    width: 100%;
    height: 8px;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

.legend-map-rodes-chart-component {
    width: 100%;
    height: 100%;
}

.legend-map-places-polcharge {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: calc(var(--spa) / 1);
}

.legend-map-places-circles {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: calc(var(--spa)/1);
}

.legend-map-circle {
    border-radius: 100%;
    background-color: var(--c-d);
    border: 1px solid black;
}

.legend-map-circle.small {
    width: 4px;
    height: 4px;
}

.legend-map-circle.mid {
    width: 12px;
    height: 12px;
}

.legend-map-circle.big {
    width: 24px;
    height: 24px;
}

.legend-map-places-factions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.legend-map-faction {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.legend-map-faction-circle {
    height: 16px;
    width: 16px;
    border-radius: 100%;
    margin-bottom: calc(var(--spa) / 2);
}

.legend-map-faction-label {
    font-size: .85em;
}