.sidebar {
    z-index: 10;

    overflow-y: scroll;

    display: flex;
    flex-direction: column;

    position: relative;
    left: 0;
    bottom: 0;

    padding-right: calc(var(--spa) / 2);

    width: 320px;
    height: 100%;

    color: var(--c-b);
    font-weight: 400;

    transform: translateX(-50%);
    opacity: 0;
    transition: transform var(--tra) var(--crv), opacity var(--tra) var(--crv);
}

.sidebar.open {
    cursor: default;
    opacity: 1;
    transform: translateX(0%);
    transition: transform var(--tra) var(--crv), opacity var(--tra) var(--crv);
}

.sidebar-content {
    overflow: scroll;

    pointer-events: all;
    position: relative;
    padding: calc(var(--spa) / 2);

    background-color: var(--c-d);

    border-top: var(--border);
    border-bottom: var(--border);
}

.sidebar-place-name {
    font-size: 1.25em;
    font-weight: bolder;
    margin-bottom: calc(var(--spa) / 2);
}

.sidebar-section {
    margin-bottom: calc(var(--spa) / 1);
}

.sidebar-poldiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: calc(var(--spa) / 2);
}

.sidebar-section.event-data {
    position: relative;
}

.sidebar-events {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: calc(var(--spa) / 2);
    height: 6em;
}

.sidebar-event {
    position: relative;
    margin-bottom: calc(var(--spa) / 2);
}

.sidebar-event.number-of {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: calc(var(--spa) / 2);
    align-items: baseline;
}

.sidebar-label {
    text-transform: uppercase;
    font-size: .75em;
    opacity: .75;
    margin-bottom: 0;
}

.nivo-container {
    border: var(--border);
    margin-bottom: calc(var(--spa) / 2);
    color: initial;
    box-sizing: content-box;
}

.nivo-container svg {
    transform: translateY(0px);
}