.venue-title.caption {
    white-space: nowrap;
    font-size: var(--fs-m);
    padding-bottom: calc(var(--spa) / 8);
    margin-bottom: calc(var(--spa) / 1.35);
}

.venue-header-background {
    z-index: -1;
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 48px;
    transition: background-color 250ms linear;
    border-radius: 5px 5px 0px 0px;
}

.venue-details {
    position: relative;
    display: block;
    padding-bottom: calc(var(--spa) / 2);
    margin-bottom: calc(var(--spa) / 2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.venue-details:last-child.data,
.venue-details:last-child.graph {
    border: none;
    padding-bottom: calc(var(--spa) / 0);
    margin-bottom: calc(var(--spa) / 2);
}

.venue-details.data {
    display: grid;
}
.venue-details.graph {
    padding-bottom: calc(var(--spa) / 1);
    margin-bottom: calc(var(--spa) / 2);
}

.venue-details .text-field.caption {
    margin-bottom: calc(var(--spa) / 4);
}
.venue-details.graph > .text-field.content {
    text-transform: capitalize;
}

.venue-details .text-field span {
    display: block;
}
.venue-details .text-field span:nth-child(1) {
    padding-bottom: calc(var(--spa) / 8);
    font-size: var(--fs-s);
    text-transform: uppercase;
}
.venue-details .text-field span:nth-child(2) {
    font-size: var(--fs-l);
}