.App {
  position: relative;
  display: block;
  background-color: var(--c-1);
  min-height: 100vh;
  color: var(--c-b);
}

/* .App-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
} */

a {
  text-decoration: none;
  color: var(--c-b);
}
